# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan.binary
.terraform.lock.hcl

# GCP key
key.json

# Python
venv/
__pycache__/
*.pyc

# Mac
.DS_Store

# Outputs opcionales
infracost.html
infracost.json
